
{%extends 'theme.html'%}
{%block mainheading%}
<h1>सब्धि</h1>
{%endblock%}
{%block maincontent%}
<h5 class="text-warning">
सन्धि (सम् + धा + कि) शब्द का अर्थ है 'मेल' या जोड़। दो निकटवर्ती वर्णों के परस्पर मेल से जो विकार (परिवर्तन) होता है वह संधि कहलाता है। संस्कृत, हिन्दी एवं अन्य 
भाषाओं में परस्पर स्वरो या वर्णों के मेल से उत्पन्न विकार को सन्धि कहते हैं। जैसे - सम् + तोष = संतोष ; देव + इंद्र = देवेंद्र ; भानु + उदय = भानूदय।
</h5>
<!-- <table class="table table-bordered table-hover">
    <thead>
        <tr>           -->
            {% for item in data%}
            <a class="btn btn-sm btn-success p-1" href="{% url 'slokaselected' item %}">{{item|safe}}</a>
            {% endfor %}          
        <!-- </tr>
    </tbody>
</table> -->

{%endblock%}      