
{%extends 'theme.html'%}
{%block mainheading%}
<h1>सब्धि</h1>
{%endblock%}
{%block maincontent%}
<style>
    .sloka{
        background-color: white;
        color:blue;
        border:2px groove green;               
    }
    .sandhi{
        background-color: white;
        color:green;
        border:2px groove blue;
        display: none;
        margin-top: 5px;
    }
    .sloka,.sandhi{
        font-size: large;
        border-radius: 10px;
        padding:5px;
    }
</style>
<h5 class="text-warning">
    इति सन्धि विभाजनपृष्ठम्। भवन्तः show sandhi split इति बटन् क्लिक् कर्तुं शक्नुवन्ति । इदं पूर्वनिर्धारितं विभक्तं कार्यं न तु स्वचालितम्
    iti sandhi vibhajanaprushtham. bhavantah show sandhi split iti batan clik kartum shaknuvanti . 
    idam purvanirdharitam vibhaktam karyam na tu svachalitam
</h5>
<table class="table table-bordered table-hover">
               
            <div class="sloka">{{sloka}}</div>
            <div class="btn btn-warning pt-1" id="button" onclick="showsandhi()">Show sandhi split</div>
            <div class="sandhi" id="sandhi">
                {{sandhi}}
                <div style="text-align:left;">
                    <ol>
                    {%for word,sandhi in word_dict.items%}
                    {%if '+' in sandhi%}
                    <li>{{ word }} = {{ sandhi }}</li>
                    {%endif%}
                    {% endfor %}
                    </ol>
                </div>
            </div>
       
    </tbody>
</table>

<div>
 {{morph|safe}}
</div>
<script>
    function showsandhi(){
    var button=document.getElementById('button');
    var sandhi=document.getElementById('sandhi');
    if(button.innerHTML=="Hide"){
        sandhi.style.display='none';
        button.innerHTML="Show sandhi split";
    }
    else{
        sandhi.style.display='block';
        button.innerHTML='Hide';
    }
    }
</script>
<script>
    
</script>
{%endblock%}      