
{%extends 'theme.html'%}
{%block mainheading%}
<h1>सब्धि</h1>
{%endblock%}
{%block maincontent%}
<style>
    .sloka{
        background-color: white;
        color:blue;
        border:2px groove green;               
    }
    .sandhi{
        background-color: white;
        color:green;
        border:2px groove blue;
        display: none;
        margin-top: 5px;
    }
    .sloka,.sandhi{
        font-size: large;
        border-radius: 10px;
        padding:5px;
    }
</style>
<h5 class="text-warning">
सन्धि (सम् + धा + कि) शब्द का अर्थ है 'मेल' या जोड़। दो निकटवर्ती वर्णों के परस्पर मेल से जो विकार (परिवर्तन) होता है वह संधि कहलाता है। संस्कृत, हिन्दी एवं अन्य 
भाषाओं में परस्पर स्वरो या वर्णों के मेल से उत्पन्न विकार को सन्धि कहते हैं। जैसे - सम् + तोष = संतोष ; देव + इंद्र = देवेंद्र ; भानु + उदय = भानूदय।
</h5>
<table class="table table-bordered table-hover">
               
            <div class="sloka">{{sloka}}</div>
            <div class="btn btn-warning pt-1" id="button" onclick="showsandhi()">Show sandhi split</div>
            <div class="sandhi" id="sandhi">{{sandhi}}</div>
       
    </tbody>
</table>
<div style="text-align:left;">
<ol>
{%for word in sloka_splitted%}
<li>{{word}}</li>
{%endfor%}
</ol>
</div>
<script>
    function showsandhi(){
    var button=document.getElementById('button');
    var sandhi=document.getElementById('sandhi');
    if(button.innerHTML=="Hide"){
        sandhi.style.display='none';
        button.innerHTML="Show sandhi split";
    }
    else{
        sandhi.style.display='block';
        button.innerHTML='Hide';
    }
    }
</script>
{%endblock%}      